@import 'styles/scss/_breakpoints.scss';

.Container {
	width: 304px;
	position: relative;

	background: var(--background-blue-card-wilder);
	border-radius: var(--box-radius);

	overflow: hidden;

	filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.5));

	@media only screen and (max-width: #{$breakpoint-mobile-large}) {
		width: 100%;
	}

	hr {
		margin: 0 33px;

		@media only screen and (max-width: #{$breakpoint-mobile-large}) {
			margin: 0 16px;
		}
	}

	.Header {
		width: 100%;
		padding-top: 38px;
		padding-bottom: 31px;
		text-align: center;

		h3 {
			font-size: 18px;
			font-weight: 700;
			color: white;

			@media only screen and (max-width: #{$breakpoint-mobile-large}) {
				font-size: 16px;
			}
		}
	}

	ul {
		width: 100%;
		padding: 18px 0;

		.Wallet {
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: center;

			width: 100%;
			padding: 4px 40px;

			color: white;
			font-size: 16px;

			cursor: pointer;

			@media only screen and (max-width: #{$breakpoint-mobile-large}) {
				&:not(.MobileEnabled) {
					display: none;
				}

				padding: 4px 16px;
			}

			img {
				height: 36px;
				width: 36px;
				object-fit: contain;
			}

			&:not(:first-of-type) {
				margin-top: 9px;
			}

			& > div {
				display: flex;
				justify-content: center;
				align-items: center;

				width: 40px;
				height: 40px;

				border-radius: 50%;

				background-color: var(--color-accent-1-medium-10);

				& > div {
					display: flex !important;
					justify-content: center;
					align-items: center;
				}
			}

			&::before {
				content: ' ';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%);
				width: 85%;
				height: 0;
				box-shadow: 0px 0px 20px 20px rgba(60, 161, 255, 0.8);
				z-index: -1;

				opacity: 0;
				transition: opacity 0.1s ease-in-out;
			}

			&:hover {
				background: rgba(60, 161, 255, 0.05);
			}

			&:hover::before {
				opacity: 1;
			}
		}
	}

	.Disconnect {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		padding: 18px;

		> p {
			color: var(--color-success);
		}

		hr {
			width: 100%;
		}
	}

	.Footer {
		width: 100%;
		text-align: center;
		font-size: 14px;
		padding: 18px;

		p {
			color: #dadcdf;
			line-height: 22px;
			padding: 0;

			a {
				color: var(--color-accent-1);
				text-decoration: none;
			}
		}
	}
}
